{
	"arrowParens": "always",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"trailingComma": "all",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true
}
